<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1037550930129-h0ed95j45a1abglmjqsujgv0jg3pvlk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037550930129-h0ed95j45a1abglmjqsujgv0jg3pvlk5</string>
	<key>API_KEY</key>
	<string>AIzaSyAT4jb23nBDqlo7IkG2y1q1ganwBZ7upLI</string>
	<key>GCM_SENDER_ID</key>
	<string>1037550930129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.undergalaxie.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-da2e7</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-da2e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037550930129:ios:554930c8bf9f5784</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-da2e7.firebaseio.com</string>
</dict>
</plist>